<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azexotic.android.azebr">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.azexotic.android.azebr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.azexotic.android.azebr.BirdsActivity"
            android:label="BIRD OF THE WEEK"/>
        <activity android:name="com.azexotic.android.azebr.EventsActivity"
            android:label="EVENTS"/>
        <activity android:name="com.azexotic.android.azebr.ServicesActivity"
            android:label="GROOMING/BOARDING"/>
        <activity android:name="com.azexotic.android.azebr.EducationActivity"
            android:label="EDUCATION"></activity>
    </application>

</manifest>